USE [master]
GO
/****** Object:  Database [HealthyChoiceDB]    Script Date: 30.03.2026 19:46:01 ******/
CREATE DATABASE [HealthyChoiceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HealthyChoiceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HealthyChoiceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HealthyChoiceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HealthyChoiceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HealthyChoiceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HealthyChoiceDB]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 30.03.2026 19:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 30.03.2026 19:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[PickupAddress] [nvarchar](200) NOT NULL,
	[PickupTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 30.03.2026 19:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[Category] [nvarchar](50) NULL,
	[ImagePath] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30.03.2026 19:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (1, 1, 25, 2, CAST(590.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (2, 1, 13, 3, CAST(450.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (3, 1, 8, 1, CAST(1600.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [PaymentMethod], [Status], [PickupAddress], [PickupTime]) VALUES (1, 3, CAST(N'2026-03-16T16:58:27.390' AS DateTime), CAST(4130.00 AS Decimal(10, 2)), N'Cash', N'Completed', N'г. Москва, ул. Спортивная, д. 25', CAST(N'2026-03-18T07:58:27.390' AS DateTime))
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [PaymentMethod], [Status], [PickupAddress], [PickupTime]) VALUES (2, 11, CAST(N'2026-03-24T16:58:27.393' AS DateTime), CAST(3130.00 AS Decimal(10, 2)), N'Cash', N'Completed', N'г. Москва, ул. Здоровья, д. 15', CAST(N'2026-03-26T05:58:27.393' AS DateTime))
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [PaymentMethod], [Status], [PickupAddress], [PickupTime]) VALUES (3, 9, CAST(N'2026-03-04T16:58:27.393' AS DateTime), CAST(2410.00 AS Decimal(10, 2)), N'Card', N'Completed', N'г. Москва, ул. Спортивная, д. 25', CAST(N'2026-03-06T08:58:27.393' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [Description], [Price], [StockQuantity], [Category], [ImagePath]) VALUES (2, N'Протеин Plant Protein', N'Растительный протеин, 1 кг, шоколад', CAST(3200.00 AS Decimal(10, 2)), 28, N'Спортивное питание', NULL)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Description], [Price], [StockQuantity], [Category], [ImagePath]) VALUES (3, N'BCAA 2:1:1', N'Аминокислоты с разветвленной цепью, 300 капсул', CAST(2200.00 AS Decimal(10, 2)), 36, N'Спортивное питание', NULL)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Description], [Price], [StockQuantity], [Category], [ImagePath]) VALUES (4, N'Гейнер Mass Gainer', N'Высококалорийный гейнер, 3 кг', CAST(3800.00 AS Decimal(10, 2)), 25, N'Спортивное питание', NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Email], [Phone], [Role], [CreatedDate]) VALUES (1, N'admin', N'admin123', N'Администратор системы', N'admin@healthychoice.ru', N'+79991234567', N'Admin', CAST(N'2026-03-30T16:58:27.373' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Email], [Phone], [Role], [CreatedDate]) VALUES (2, N'manager', N'manager123', N'Менеджер магазина', N'manager@healthychoice.ru', N'+79992345678', N'Admin', CAST(N'2026-03-30T16:58:27.373' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Email], [Phone], [Role], [CreatedDate]) VALUES (3, N'ivanov_i', N'pass123', N'Иванов Иван Иванович', N'ivanov@email.ru', N'+79161234567', N'User', CAST(N'2026-03-30T16:58:27.380' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4CD2B37A3]    Script Date: 30.03.2026 19:46:01 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
USE [master]
GO
